@media (max-width: 1024px) {
  .form-input,
  .form-select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 25%; */
    /* min-height: 250px; */
    height: 100dvh;
    z-index: 1000;
    padding: 25px 75px 25px 25px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-50%);
    transition: visability 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 18px;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  /* .header__btn {
    padding: 12px 35px;
  } */

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    transform: translateX(-50%);
    background-color: currentColor;
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .hero__content {
    width: 100%;
  }

  .header__btn {
    margin-right: 7px;
  }

  .services__list {
    flex-wrap: wrap;
  }

  .list__item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

  .list__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .list__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .blog-preview {
    height: 100%;
  }

  .clients-item {
    padding: 25px 18px;
  }

  .form {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .blog-preview-link {
    flex-direction: column;
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

  .nav__item:not(:last-child) {
    margin-right: 25px;
  }

  .faq__question {
    max-width: 86%;
  }
}

@media (max-width: 576px) {
  :root {
    --gap: 15px;
  }

  .header {
    padding-top: 15px;
    padding-bottom: 45px;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding: 12px 21px;
    margin-right: 7px;
  }

  .header__nav {
    padding: 15px 50px 15px 15px;
  }

  .hero {
    padding-top: 30px;
    background-image: none;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 15px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: 100%;
  }

  .hero {
    padding: 0;
  }

  .section-offcet {
    padding-top: 62px;
    padding-bottom: 38px;
  }

  .section-title {
    text-align: left;
    margin-bottom: 15px;
  }

  .services-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 17px;
  }

  .list__item {
    padding: 15px;
    min-height: 222px;
    margin-bottom: 20px;
  }

  .list__title {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 2px;
  }

  .list__desc {
    font-size: 12px;
    line-height: 150%;
  }

  .section-descr {
    margin-bottom: 36px;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .articles-item {
    margin-bottom: 14px;
    width: 100%;
  }

  .blog-preview-link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview-image {
    flex-shrink: 0;
    width: 175px;
    height: 100%;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview-text {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .blog-preview-title {
    margin-bottom: 3px;
  }

  .blog-preview-descr {
    margin-bottom: 5px;
  }

  .blog-preview-time {
  }

  .articles-list {
    margin-bottom: 9px;
  }

  .clients-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 17px 19px;
  }

  .clients-post {
    transform: translateY(-7px);
    display: inline-block;
  }

  .contacts-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .contacts-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .contacts-item {
    width: 100%;
    padding-top: 38px;
    margin-bottom: 30px;
  }

  .contacts-item-caption {
    margin-bottom: 10px;
  }

  .contact-item-text {
    margin-bottom: 3px;
  }

  .contacts-list {
    margin-bottom: -12px;
  }

  .join-us-title {
    margin-bottom: 15px;
    text-align: left;
  }

  .join-us-destr {
    text-align: left;
  }

  .form-top {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .form-left {
    width: 100%;
    margin-bottom: 15px;
  }

  .form-right {
    width: 100%;
  }

  .form-input {
    margin-bottom: 15px;
    padding-left: 19px;
  }

  .form-select {
    padding-left: 19px;
    padding-right: 19px;
  }

  .form-textarea {
    min-height: 240px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .form-wrapper {
    width: 100%;
  }

  .form-btn {
    width: 100%;
    margin-bottom: 14px;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    margin-bottom: 15px;
  }

  .footer {
    padding: 54px 0;
    padding-bottom: 0;
  }

  .footer-left {
    width: 100%;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-list {
    margin-right: 0;
    width: 100%;
  }

  .footer__nav .footer-list {
    flex-wrap: wrap;
  }

  .footer__nav .nav__item {
    font-size: 15px;
    line-height: 20px;
  }

  .footer-nav {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .nav__item:not(:last-child) {
    margin-right: 32px;
  }

  .footer__nav .nav__item {
    margin-bottom: 15px;
  }

  .header_logo {
    margin-right: 0;
    width: 80px;
    margin-bottom: 13px;
  }

  .footer-copy {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
  }

  .footer-copy::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #c4c4c4;
  }

  .footer-nav {
    justify-content: center;
  }

  /* ..... */
}
